[2020-07-11 20:09] kgalanop commented on #308
Hello @fetrarij

I would also go with option 2.
Being independent from material would also provide the ability for more users to use this library without necessarily being forced to use material, let alone that currently it has more features than the corresponding material implementation and better UI and layout in my opinion.

[2020-07-11 20:38] veerritu commented on #308
@fetrarij  Option 2 anytime as its good to keep it customisable.
It's easy to implement and use.

[2020-07-13 10:57] kavvya97 commented on #308
i would really like to continue using ngx-daterangepicker and i would like it more if it is customisable. Hence i am going with option 2.

[2020-07-13 12:50] kavvya97 opened #310 "datePicker: clicking date once does not trigger datesUpdated method"
**Versions**
* angular version: 7
*component version: 2.2.0

In ngx-daterangepicker-material
when a date is **clicked once,** datesUpdated is not triggered. Only, when double-clicked/selecting 2 date ranges, it gets triggered.

`<ngx-daterangepicker-material id="datePicker" [linkedCalendars]="linkedCal" (datesUpdated)="choosedDate($event)" [maxDate]="maxDateRange"
        [minDate]="minDateRange"

[2020-07-15 04:09] com-xuonghuynh opened #311 "Cannot set empty input by default"
**Versions**
* Angular version: 8
* component version: 2.1.9

**Describe the bug**
I want to set the input with empty and placeholder, but it always display to current date. I tried to set ngModel with startDate and endDate with null value but not success.

[code]
this.filter_date = {
            "startDate": null,
            "endDate": null
        }

[2020-07-15 06:30] sunitharb opened #312 "range selection happening in single datepicker with timepicker"
In a single date picker with time picker after selecting the tile when hovering on the calendar dates are getting selected.

steps:

select a date.
set hour, or min or am/pm from the time picker.
hover over the calendar.
you will see that the range selection is being applied to the dates after the selected date.
![issue](https://user-images.githubusercontent.com/37530312/87511291-b1e01900-c692-11e

[2020-07-15 20:45] Yollty commented on #281
Had the same issue, even with the NgxDaterangepickerMd.forRoot()
It is working if I add the "entryComponents: [DaterangepickerComponent],"
But not sure why...

[2020-07-16 19:15] Yollty commented on #300
Having the same issue, although it works, it throws that in the console.
It seems to be related to #281 and the fact that I had to specifically use the entryComponents: [DaterangepickerComponent].

With "enableIvy": true and not using the entryComponents: [DaterangepickerComponent] the solution works without any issues.

[2020-07-19 16:31] Joelius300 commented on #295
Just a note because someone else might trip on this: You need both styles in the `styles` array, otherwise it's completely messed up.

When installing I got
[code]
but you need
[code]

[2020-07-20 11:33] VladPavliuk opened #314 ""JNe.weekdaysMin is not a function" error after deployment."
I get this error all the time after every deployment!

![Annotation 2020-07-20 143025](https://user-images.githubusercontent.com/24705251/87933262-9cedf600-ca95-11ea-8dea-df89ed04a2ae.png)

![Annotation 2020-07-20 143211](https://user-images.githubusercontent.com/24705251/87933387-d32b7580-ca95-11ea-983b-a03fec81830b.png)

"moment": "2.25.3"
"ngx-daterangepicker-material": "2.2.0"

Does anybody ha

[2020-07-20 17:43] madhuri-bhamre-003 commented on #311
Please provide solution for this asap. getting same issue.

[2020-07-20 20:11] Joelius300 commented on #71
For the use of this awesome library in a mobile friendly website, this improvement would be very much appreciated. I don't think I'm able to submit a useful PR but the least I can do is point out that this is definitely something that others need as well.

[2020-07-23 05:47] RtzS opened #315 "(Request to verify Feature) 'emptyWeekRowClass' is not working in 2.1.10 version."
Versions

Angular version: 7
component version: 2.1.10
Describe the bug

'emptyWeekRowClass' is not working in 2.1.10 version.
On click of clear button I don't want to close calendar. but calendar get closed.
Expected behavior
'emptyWeekRowClass' is not working in 2.1.10 version. I don't want to show next month date in Current month.

Screenshots
![image](https://user-images.githubusercontent.com/

[2020-07-23 05:50] RtzS commented on #289
@fetrarij Can you please help me to get 'Cancel' and 'Clear' button event out. As there is some further functionality I need to handle on these button click in my project.
 I am using "ngx-daterangepicker-material": "2.1.10" with AG6.

Thankyou

[2020-07-23 07:56] alexmacavei commented on #308
Please don't kill it, we just adopted it in a production app :) I really needed those weeknumbers and for some reason the Angular Material guys don't want to include it as it's not part of the material spec.

[2020-07-24 05:22] Codefans-fan commented on #286
i get same issue

[2020-07-24 07:19] swapnil0071 opened #316 "Calander is not opening"
**Versions**
* Angular version: ^7.2.16
* component version:1.3.4

**Describe the bug**
Component appars on web page but on click of calander its not opening

My Package.json
================================================
{
  "name": "trubot2-console-app",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng

[2020-07-24 17:04] rakshabhartiya-gep commented on #267
Do we have update on this?

[2020-07-25 10:11] abhishekPegusus commented on #266
it works for me as well

[2020-07-25 10:11] abhishekPegusus commented on #266
good solution

[2020-07-27 17:49] armadillomx opened #317 "how to add class ngx-daterangepicker-action ?"
I've seen mention to add the class 'ngx-daterangepicker-action' to the element to open the picker, checked the sample code but I haven't found any reference on how the class is added

Added as follows doesn't work:

`<button mat-icon-button class="ngx-daterangepicker-action"  (click)="OpenDateRangePicker()" ><mat-icon>date_range</mat-icon></button>`

How to the class should be added?

Thanks

[2020-07-28 05:12] vktatak opened #318 "Start Date selection event not fired"
**Versions**
* Angular version: 1.3.4
* component version:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

We can start date select not fired. Any idea about customizing node modules.

[2020-07-28 09:02] nishit321 commented on #259
Thanks @RanojitMitra

[2020-07-28 14:13] Vinoth-deva commented on #300
iam using angular 8

[2020-07-28 14:16] fetrarij commented on #317
hi, which version?

[2020-07-28 15:52] Yollty commented on #300
@Vinoth-deva I think if you set the enableIvy to true, then you don't need the entryComponent.

[2020-07-29 09:12] tolsac commented on #316
Same issue

[2020-08-12 08:12] atulgupt opened #321 "Angular 9 Css not working properly"
<input ngxDaterangepickerMd showCancel="true" placeholder="Choose date" [(ngModel)]="selected" [showDropdowns]="true"
  [lockStartDate]="false" [customRangeDirection]="false" (ngModelChange)="ngModelChange($event)"
  (change)="change($event)" />

import { CrudService } from './shared/services/app.component.service';
import { Component, OnInit } from '@angular/core';
import { ITreeOptions } from '@

[2020-08-15 11:39] gopal-augment opened #322 "Showing wrong date selection in selected value"
**2.2.0**

* Angular version:  6.3

**Describe the bug**
After selecting the date range, it gives wrong date selection. See the image below.

**Screenshots**
![image](https://user-images.githubusercontent.com/31436402/90311589-01c43100-df1a-11ea-8830-e0bf770915ed.png)

[2020-08-18 10:50] RtzS commented on #315
Can any one please check this issue.

[2020-08-18 11:22] RtzS commented on #289
@fetrarij Can you please help me to get 'Cancel' and 'Clear' button event out. As there is some further functionality I need to handle on these button click in my project.
I am using "ngx-daterangepicker-material": "2.1.10" with AG6.
And V2.2.1 is also compatible with my project.

Thankyou

[2020-08-19 10:36] revatim commented on #308
I would like to go with option 2
It has better implementation, functionality and can use it in projects without being forced to use angular/material. Being able to customize it also a plus.

[2020-08-21 03:52] fetrarij commented on #321
Hi, give more detail please :)

[2020-08-25 11:39] ankushg91 opened #324 "Restrict user to select 'From date' from left calendar and 'To date' from right calendar"
Is there a way to restrict user to select 'From date' from left calendar and 'To date' from right calendar?

Thanks.

[2020-08-26 10:57] peturh opened #325 "CSS not working"
**Versions**
* Angular version: ^10.0.12
* component version: ^3.0.4

**Describe the bug**
When including the datepicker there is only some styling applied.

I've added the Datepicker module with: `import: [..., NgxDaterangepickerMd.forRoot(]),` and included the component with:

`<input type="text" ngxDaterangepickerMd [formControl]="filterForm.controls['date']" />`

It looks like this:

https://i

[2020-08-27 04:49] RupinSahu commented on #324
Hey @ankushg91 , have you found the solution for it. I am also looking for the same use case, to restrict user to select From date only from LHS and To date only from RHS. Also I need LHS & RHS should never be on same month meaning min range of RHS month should always be one month more than LHS

[2020-08-27 05:07] RupinSahu commented on #311
Hey @com-xuonghuynh  , you have found solution but if not then please refer to the following solution, hope this helps -

1. Instead of ngModel use formControlName and pass your object as string type
2. Remove placeholder.
3. Remove isInvalidDate if not required else return a null value for your use case

Hope it woks!!

[2020-08-27 05:12] RupinSahu commented on #311
Hope you have found the solution for it but if not then try to providing a any or string type value to formcontrol where if it is any type then it should not contain even start & end date attributes.

[2020-08-27 05:26] RupinSahu opened #326 "Wrong README.md (4.x.x version does not exist on npm)"
**Versions**
* Angular version: 10.0.9
* component version: 2.3.0

**Describe the bug**
I tried installing v4.0.0 version as it is provided in README.md but npm returned with error that it does not exist. So either update README.md or release v4 so that the confusion in installation can be removed

**To Reproduce**
Steps to reproduce the behavior:
1.  Type `npm i ngx-daterangepicker-material@^4.0.

[2020-08-27 08:12] DoanVanThuong commented on #277
Same question

[2020-08-27 11:52] fetrarij commented on #326
Hello, thanks for reporting. I have just published the v4 and v2

[2020-08-27 11:52] #326 closed

[2020-08-27 12:07] manwithtwowatches opened #327 "Not possible to disable/enable input with FormControl disable/enable methods"
If the ngxDaterangepickerMd input is part of FormGroup, the control's disable and enable methods have no effect on the input. It seems this behaviour is overridden somehow so that it always stays the same. The only way to disable the input is to include the raw disabled attribute in the HTML, but then it is not possible to enable the input after this. Setting the initial disabled config option of

[2020-08-27 14:26] fetrarij commented on #317
@armadillomx and in your component call the open in the directive

`OpenDateRangePicker() {
this.picker.open()
 }`

[2020-08-27 14:26] #317 closed

[2020-08-27 15:07] fetrarij commented on #327
Fixed in this commit https://github.com/fetrarij/ngx-daterangepicker-material/commit/7c3265b64812684023ad290234d87f5ca443679e

[2020-08-27 15:07] #327 closed

[2020-08-27 15:49] dez1729 opened #328 "Opening calendar in 4.0.0 pops up within container."
![image](https://user-images.githubusercontent.com/20635596/91464656-a8c19a80-e841-11ea-8ad2-a43bcc0b5666.png)

Updating to 4.0.0 from 3.0.4 required me to remove the css link to angular material, but now when I opened the calendar the css merges into a container (in this case an angular material expansion panel).

[2020-08-27 17:12] fetrarij commented on #328
@dez1729 Hello, v3 will not compatible with v4, dont upgrade, v4 is just a v2 but work with recent version of angular.
https://github.com/fetrarij/ngx-daterangepicker-material/issues/308

[2020-08-28 08:47] #328 closed

[2020-08-28 14:09] manwithtwowatches commented on #327
Thanks @fetrarij !

[2020-08-31 07:30] manwithtwowatches commented on #327
@fetrarij I just tried this out with version 4.0.0 and it does not seem to be fixed. Behaves just the same as before.

[2020-08-31 16:18] fetrarij commented on #318
@vktatak this work well in the link you provided, use the latest version.
Wich version of angular do you use?

[2020-09-01 04:31] fetrarij commented on #315
Hello. This is working well. However the class is added in the row section (tr) not the column one.
So the need you want may not emptyWeekRowClass.
Since I see this useful I am going to implement emptyWeekColumnClass.

[2020-09-01 05:24] #315 closed

[2020-09-01 05:27] #126 closed

[2020-09-01 05:34] fetrarij commented on #314
Hello :)
Could you share more information? angular version? the command for your deployment?

[2020-09-01 05:57] fetrarij commented on #294
emptyWeekColumnClass is added for this.
v4.0.1 and v2.4.1 is up for this.

[2020-09-01 05:57] #294 closed

[2020-09-01 05:59] fetrarij commented on #327
v4.0.1 and v2.4.1 is up for this.

[2020-09-01 08:46] manwithtwowatches commented on #327
Great stuff, thanks @fetrarij.

[2020-09-01 18:21] ankurraiyani commented on #305
@fetrarij When do you think this feature will be avilable?

[2020-09-02 15:44] rszemplinski opened #331 "Could not resolve moment/ts3.1-typings/moment"
**Versions**
* Angular version: 10.0.11
* component version: 4.0.1

**Describe the bug**
Every time I make a small change in the code and the code recompiles I get this error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download package
2. Use component in code
3. Make any modification to the code while server is running
4. See error

**Expected behavior**
No error

[2020-09-03 07:05] peturh commented on #325
Updated to `4.x.x` and styling started working.

[2020-09-03 07:05] #325 closed

[2020-09-04 08:25] RtzS commented on #315
@fetrarij  Still issue is not resolved. 'emptyWeekColumnClass' is not working with V2.1.10.

[2020-09-04 09:39] fetrarij commented on #315
@RtzS use v2.4.1

[2020-09-04 11:47] fetrarij commented on #325
hello,  v3 will not be maintained. thanks for using v4 of v2

[2020-09-04 13:16] RtzS commented on #315
@fetrarij Thankyou for quick reply after changing version v2.1.10 to v2.4.1  able to access 'emptyWeekColumnClass', bit still I am facing some issues in hiding date in week which are not part of current month. PFA
![image](https://user-images.githubusercontent.com/8089250/92243089-803f3d80-eede-11ea-8328-3b598c2fd574.png)

Here I want to show date of current month only but it is not working as exp

[2020-09-06 03:00] jasonc624 opened #332 "FEATURE REQUEST: Styling & Date Blocking"
**Versions**
* Angular 9
* latest

**Describe the feature**
Ability to style calendar component without ng-deep.
Ability to block out date ranges.

[2020-09-07 16:01] JNicolasW opened #333 "UTC is changed to locale once the day is changed"
**Versions**
* Angular version: 9.1
* component version: 2.4.1

**Describe the bug**
A clear and concise description of what the bug is.
I start the component as follow. to = {start: moment.utc(), end:moment.utc()}
Which sets the picker information to be a UTC Moment object, but when i pick a different day (day only, not minutes or hours), it changes the UTC Moment object into a Moment object, whi

[2020-09-07 16:03] JNicolasW commented on #322
Can it be cause it changes from locale to UTC? Its happening to me right now that my inputs are in utc mode, and the value returned by the picker change into back into utc, as if the input value is on locale.

[2020-09-10 07:12] Chmielinski commented on #331
Same on:
Angular v8.2.14
Component v2.4.1

[2020-09-12 11:33] aylmercarson commented on #332
have a look here:

https://github.com/fetrarij/ngx-daterangepicker-material/issues/268

any use?

[2020-09-14 12:09] suraj740 opened #334 "Is there any option to add min dateLimit"
Hello,
@fetrarij is there any option to set min DateLimit?
So that we can set minimum numbers of days to select.
How can we achieve that?
Thanks!!

[2020-09-14 14:42] fetrarij commented on #334
@suraj740 there are no option for minDateLimit , sorry

[2020-09-14 14:42] #334 closed

[2020-09-15 05:20] Zeouterlimits opened #335 "v4 & Material Styling?"
Angular Version: ~10.0.14
Angular Material Version: ^10.1.3
ngx-daterangepicker-material: ^4.0.1

Code:
`<mat-form-field>
            <mat-label>Date Range</mat-label>
            <input type="text" matInput
              class="form-control input"
              ngxDaterangepickerMd
              [locale]="{applyLabel: 'ok', format: 'YYYY-MM-DD'}"
              startKey="startDate"
              e

[2020-09-15 09:31] gopal-augment commented on #331
Same error in ng v9

Versions

    Angular version: 9.1.12
    component version: 4.0.1

[2020-09-15 11:33] Chmielinski commented on #331
Looks like downgrading moment to v2.24.0 solved the issue.

[2020-09-15 13:20] gopal-augment commented on #331
@Chmielinski Yeah, one thing need to confirm this moment version have to install from our project root directory package.json,  right?

[2020-09-15 14:06] Chmielinski commented on #331
@gopal-augment That's right. Just remove your node_modules directory and run npm install or yarn install and you should be good to go.

[2020-09-15 14:16] gopal-augment commented on #331
Thank You

[2020-09-15 14:51] rszemplinski commented on #331
@Chmielinski so this did not work for me. I just had to revert back to moment 2.24.0 and it's working now.

[2020-09-15 14:51] #331 closed

[2020-09-16 08:01] prachigupta2607 opened #336 "ERROR in Could not resolve moment/ts3.1-typings/moment"
**Versions**
* Angular version:  9.1.8
* component version: 4.0.1
* moment: 2.28
* tslib: ^1.10.0

**Describe the bug*:
Getting ERROR in Could not resolve moment/ts3.1-typings/moment  from ..../angular/node_modules/ngx-daterangepicker-material/ngx-daterangepicker-material.d.ts when angular code re-compiles for changes.

Please help me out.

[2020-09-16 11:05] muhitoLV commented on #336
Same issue

**Versions**

- Angular version: 10.0.6
- Component version: 4.0.1
- moment: 2.28.0
- tslib: 2.0.0

On compile throws error:
ERROR in Could not resolve moment/ts3.1-typings/moment from .../node_modules/ngx-daterangepicker-material/ngx-daterangepicker-material.d.ts

[2020-09-16 14:51] fetrarij commented on #336
@muhitoLV @prachigupta2607 try to downgrade your moment, use 2.27.0 instead.

[2020-09-16 15:31] prachigupta2607 commented on #336
It didn't work. Still getting the same issue.

[2020-09-18 09:55] fetrarij commented on #336
I have tried with this config

* Angular version: 10.0.6
* Component version: 4.0.1
* moment: 2.28.0
* tslib: 2.0.0

and works like a charm.

[2020-09-19 16:02] manalikatkar02 commented on #336
Getting ERROR in Could not resolve moment/ts3.1-typings/moment from ..../angular/node_modules/ngx-daterangepicker-material/ngx-daterangepicker-material.d.ts when angular code re-compiles for changes.

After that i have only installed moment with below command:
      npm i moment
and its worked for me.

[2020-09-21 14:54] manalikatkar02 commented on #335
I got same issue but you can change styling of date picker. I have changed css properties
For given issue i have changes css of   .md-drppicker.ltr classes so appearance of datepicker also get changed

[2020-09-26 15:00] ducpa09 opened #337 "Select start date but not select end date the click choose apply give error"
I would to submit a bug related to the date range picker, when I choose start date but leave the end date then click apply. After that its give like these pictures
![image](https://user-images.githubusercontent.com/71935538/94343593-57c0e400-0043-11eb-873b-921e949a9396.png)

[2020-10-01 08:48] artlomako opened #338 "Double clickApply() invocation in singleDatePicker mode"
**Versions**
* Angular version: 10.1.1
* component version: 4.0.1

**Description**
Having date picker with following configuration:
[code]
When I choose the date in a calendar, the method `onChooseDate` called twice.
I think the issue is in `daterangepicker.component.ts` file: it calls `this.clickApply();` in 964 line for the first time and in 971 line for the second time.
Proposed solution: intro

[2020-10-04 15:21] mrFll commented on #234
Great Idea. we also need the ability to use an alternative time library for our project.
When do you plan to add this feature?

[2020-10-06 10:57] BeforeuCode opened #339 "Disable focus on input field after choosing a date"
We should be able to disable autofocusing on the input field after choosing a date/ closing a datepicker dialog.

[2020-10-14 08:03] manwithtwowatches opened #340 "Setting the "locale" attribute to anything results in manually editing the date in the input not working"
4.0.1
Angular 2+

Setting the locale to any value (that I have tried) results in not being able to manually change the date/time by editing the text input. The date usually instantly changes to something a few years in the past before anything has even changed, and any changes you make are never reflected in the open date picker. Sometimes it results in a processor leak which results in the hangin

[2020-10-14 08:30] dzena commented on #340
`format` and `displayFormat` of the `locale: LocaleConfig` object need to have the same format.
`this.pickerLocale = {
      customRangeLabel: this._translationService.translate(
        'DateTimePicker.customRange'
      ),
      applyLabel: this._translationService.translate('apply'),
      format: moment.localeData(this.locale.dateLanguage).longDateFormat('L'),
      displayFormat: moment

[2020-10-14 10:42] Rapiiidooo commented on #273
I reopen this issue for the latest release of the package

`@import '../../node_modules/ngx-daterangepicker-material/daterangepicker-theme.scss';` is not available anymore.

So how do we change the color with the custom theme ?

[2020-10-14 13:02] manwithtwowatches opened #341 ""showWeekNumbers" true results in messed up styles"
4.0.1
Angular 2+

Setting "showWeekNumbers" to true results in there not being enough horizontal space. The popup does not grow to fit all of the content. See attached image.

Steps to reproduce the behavior:
1. Create a default Angular 2+ app
2. Include a date picker as per the READMe
3. Set showWeekNumbers to true

![Screenshot from 2020-10-14 14-58-58](https://user-images.githubusercontent.com/

[2020-10-14 13:42] manwithtwowatches opened #342 "Month and year selects are no longer Material selects in version 4"
Angular 2+
4.0.1

Since upgrading to version 4, the month and year selects which are activated with the "showDropdowns" attribute are no longer Material selects (mat-select) but instead just regular HTML selects. Is this a feature or a bug? If a feature, why was this? Since now they look much worse and are not themed.

[2020-10-14 13:46] manwithtwowatches opened #343 "Material theme is not recognised/used"
Angular 2+
4.0.1

So far I have not managed to get the component to recognise or use an imported Material theme. It seems the standard indigo one is always used. Please explain the claim "Angular Material themes are fully supported since v3.0.0, so you can just drop this component into an existing Material project and it will blend right into your application.", or give more detailed instructions

[2020-10-14 13:49] manwithtwowatches commented on #342
Similarly, the buttons are no longer material buttons, but regular HTML buttons.

[2020-10-15 14:46] Rapiiidooo commented on #343
Here some temporary hack, but +1 for the issue.

https://github.com/fetrarij/ngx-daterangepicker-material/issues/273

[2020-10-16 08:50] manwithtwowatches opened #344 "Object passed to input's (change) handler is an HTML Event when input is manually edited"
Angular version: 2+
component version: 4.0.1

When manually entering text into the input field to change the date range and then clicking "Apply", the object passed to the input's (change) handler, instead of being the expected { startDate, endDate } object, is an HTML Event object.

I would expect this to always be a starDate endDate object. This is problematic for object reasons. It is possible

[2020-10-16 09:49] manwithtwowatches commented on #344
Looking at the code, it is not obvious to me why this happens, however it can be avoided by using the (datesUpdated) output instead.

[2020-10-16 12:15] manwithtwowatches commented on #340
Well if it doesn't function properly when they have different values, then there is no need to have 2 different options as they always have to be the same. So at the least then one of the options should be removed to avoid confusion. Either that or is is a bug.

[2020-10-16 12:16] manwithtwowatches commented on #340
But thanks for your reply @dzena, it's working now.

[2020-10-16 12:16] #340 closed

[2020-10-16 12:17] manwithtwowatches commented on #342
Can someone offer me an explanation as to why the decision to not use Material components was made? It looked a lot better before.

[2020-10-19 14:38] edjm1971 opened #345 "Vs 2.4.1 issue with use in Material and angular-split-ng6"
**Versions** 2.4.1
* Angular version: 6.1.10
* component version: 2.4.1

**Describe the bug**
A clear and concise description of what the bug is.
There are a couple of things that are going on here with this package this is bug entry : 1

1.) When the Calendar is used within an area (smaller than the needed width of the side by side calendar) defined by the angular-split-ng6 the calendar gets stac

[2020-10-19 14:45] edjm1971 opened #346 "Vs 2.4.1 issue with use in Material and @angular/core.Renderer2"
**Versions** 2.4.1
* Angular version: 6.1.10
* component version: 2.4.1

**Describe the bug**
A clear and concise description of what the bug is.
There are a couple of things that are going on here with this package this is bug entry : 2

My other bug entry made use of the CSS style to correct the display.
When attempting to use the Renderer2 in order to place the calendar the Daterangepicker outs

[2020-10-26 05:07] rprasath commented on #335
I also have the same issue. Where you able to solve this issue

[2020-10-27 08:52] neerajrathii commented on #335
@fetrarij , do you have any fix for this.?

[2020-11-05 14:34] anupam42 commented on #311
Hello I am facing issue while setting default value when i am adding 7 days as default it is taking as custom range option only but when i disable timePicker it takes as 7 days but its fails
<img width="707" alt="Screenshot 2020-11-05 at 8 02 57 PM" src="https://user-images.githubusercontent.com/16332264/98254234-0f7dd580-1fa2-11eb-82db-3999eec8c6bd.png">
.
Please provide a solution
Thanks

[2020-11-06 13:09] iamsank8 opened #347 "Show can I show chosenLabel in my format"
I want to show the chosenLabel in format
`Range: StartDate - EndDate`

I tried manually setting
`datepickerDirective.picker.chosenLabel = above format data;`
`datepickerDirective.picker.updateCalenders();`
But it does not work.

Could you please let me know how it can be achieved?

[2020-11-10 14:19] manwithtwowatches opened #348 "Selecting a range of 1 day with the time toggled on gives a zero length period of time"
When using the date time picker, if you select a period of time of 1 day, that is to say clicking the same day twice, the selected time range will not be the whole day, but instead both times will be set to 00:00:00, thus giving a period of time of length zero.

Steps to reproduce the behavior:
1. Make a date picker with the time picker enabled.
2. Click on any day twice.
3. Observe the actual sta

[2020-11-15 10:50] mbenfriha commented on #311
I found solution, u can set ngModel to undefined, its display your placeholder instead of today date :

<img width="947" alt="Capture d’écran 2020-11-15 à 11 48 29" src="https://user-images.githubusercontent.com/15246569/99182930-87819380-2738-11eb-801b-e29790b3b358.png">

<img width="660" alt="Capture d’écran 2020-11-15 à 11 49 08" src="https://user-images.githubusercontent.com/15246569/99182

[2020-11-19 16:26] dsism opened #349 "Error selecting start date - Cannot read property 'endOf' of null"
**Versions**
* Angular version: 9
* component version: 4.0.1

When selecting the start date, the following errors appear on the console:
![image](https://user-images.githubusercontent.com/19177967/99691804-e07b5f80-2a89-11eb-9be1-5008084e67ea.png)

The error keeps happening repeatedly while I move the mouse over the calendar until I choose an end date, making it very slow.

My .html:
[code]
to tes

[2020-11-30 12:02] mentalernie opened #350 "Add an input to set the min years dropdown and max years dropdown"
**Versions**
* Angular version: 7
* component version: 2.4.1

**Describe the bug**
When the option showDropdowns is enabled the min years is current date -50 and max years is currend date +5.
The number 50 and 5 are hardcoded, is it possible to set these numbers via Input?

**To Reproduce**
Steps to reproduce the behavior:
1. Set Input showDropdowns to true
2. Open the dateRangepicker
3. In the le

[2020-12-01 06:36] sac-cas commented on #308
Option 2 would be my choice. Maybe replacing momentjs with luxon, dayjs or date-fns :)

[2020-12-01 10:35] HFTSxRiDeR commented on #139
[code]

[2020-12-11 04:11] qaz74107410 opened #351 "timePickerIncrement set cause singleDatePicker active class not on single date"
**Versions**
* Angular version: 11.0.3
* component version: ngx-daterangepicker-material 4.0.1

**Describe the bug**
When timePickerIncrement set to '10' and singleDatePicker set to 'true' in template. Will cause active class to daterange instand of single date. Which not suppose to be like this.

`
<input
        matInput
        ngxDaterangepickerMd
        [singleDatePicker]="true"
        [tim

[2020-12-11 13:48] dmrugalski commented on #336
My solution was comment out those lines in:
[code]
and add this line into compilerOptions:
[code]

[2020-12-13 07:53] nimaansary opened #352 "[Feature] Support both Jalali & Gregorian date"
this feature will be so good to support jalali and gregorian date in calender.
with 1 button we can switch between jalali and gregorian calender!
it will be amazing!

[2020-12-17 09:20] Aashir1 commented on #228
But couple of features are missing in  2.1.10.

[2020-12-17 09:26] ManuelTS opened #353 "Error in multi indigo-pink.css"
**Versions**
    "@angular/animations": "~9.1.12",
    "@angular/cdk": "^9.2.4",
    "@angular/common": "~9.1.12",
    "@angular/compiler": "~9.1.12",
    "@angular/core": "~9.1.12",
    "@angular/forms": "~9.1.12",
    "@angular/material": "^9.2.4",
    "@angular/platform-browser": "~9.1.12",
    "@angular/platform-browser-dynamic": "~9.1.12",
    "@angular/router": "~9.1.12",
    "ngx-daterangep

[2020-12-18 17:23] Aashir1 commented on #228
2.1.11 also working very well will --prod flag.

[2020-12-22 14:46] shoerantner opened #354 "I want to have the possibility to set the endDate to now"
For example, if I have selected the "today" range, I don't want to get the full range of the day, only up to now.

As you can see in the screenshot, this can be misleading.
![image](https://user-images.githubusercontent.com/76472255/102899885-e048f800-446b-11eb-8894-c744c61f858f.png)

[2021-01-07 03:22] Zeouterlimits opened #358 "Revist momentjs usage?"
Wanted to raise the question of now that momentjs is locked, whether it would be worth moving to a smaller, similar datetime library, like dayjs or luxon?

Dayjs is very similar to moment, but is smaller - https://github.com/iamkun/dayjs/
Luxon is probably a bigger amount of work, but it is the modern library suggested by the momentjs team.

[2021-01-21 10:59] VladPavliuk commented on #314
Hello
It's not relevant anymore. We've changed the approach we manage our modules.
I guess we can close this one.

[2021-01-21 10:59] #314 closed

[2021-01-26 22:35] mcdonop opened #359 "ngcc failed to run on ngx-daterangepicker-material@4.0.1."
**Versions**
* Angular version: 11.1.0
* component version: 4.0.1

**Describe the bug**
ngcc failed to run on ngx-daterangepicker-material@4.0.1.
Does not work when using Ivy.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stackblitz.com/edit/angular-ivy-ngx-daterangepicker-material-ngcc-issue
2. error will appear

**Expected behavior**
Support Ivy, no issue

**Stackblitz link

[2021-01-29 21:48] supdugi opened #360 "When I am trying to use showclearbutton= true I can see a text and delete icon both , but I want to show only one among this two"
**Versions**
* Angular version:
* component version:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain

[2021-01-31 21:25] gjsmith66 commented on #205
I have a fork that supports dayjs at https://github.com/gjsmith66/ngx-daterangepicker-material-dayjs

[2021-01-31 21:26] gjsmith66 commented on #358
I have a fork that supports dayjs at https://github.com/gjsmith66/ngx-daterangepicker-material-dayjs

[2021-02-08 10:57] lippomano commented on #358
In 2021 you need to consider to work with dayjs, luxon or date-fns instead of momentjs imho.
Dayjs is very similar and a lot smaller.

[2021-02-15 21:12] tmgayathri commented on #336
I am getting the same error after Angular 9 upgrade. I'm using the below components:
Angular: 9.1.13
Moment: 2.29.1
ngx-daterange-picker: 2.4.1
tslib: 1.10.0

Also I have the enableIvy: false as its needed for my upgrade

I tried most of the above solutions:
1. Downgrade moment to 2.27.0, 2.24.0
2. using component version 4.0.1
3. Using the exact component version (without the "^")

Any suggestion

[2021-02-17 16:20] pinkninjajess opened #361 "Customization of date range and what is displayed in the calendar (feature request)"
In the list of date ranges, I would like to add a range called "Last N" that would hold a different custom component that I would create- that would ideally open on the right side of the calendar window when clicked.

The component would allow the user to put a number into an input and have a drop down with different units of time: seconds, minutes, hours, days, etc.

Is there any possible way to

[2021-02-18 08:36] qwe12e opened #362 "Question: Is it possible to show one calendar with range picker?"
singleDatePicker option shows one calendar but we can't use range.

[2021-02-22 13:02] telmaco commented on #342
I would like to know as well 😪

[2021-02-23 10:05] Nasruddinkhan commented on #336
Getting ERROR in Could not resolve moment/ts3.1-typings/moment
I tried most of the above solutions:

[2021-03-02 09:29] dentkachuk commented on #112
Have the same issue, just ranges from the object are returned but I need to know that "Custom range" was clicked. Because I need customize calendars.

[2021-03-05 11:32] dentkachuk commented on #162
I have the same issue, it happened when the selected range did not consist of predefined ranges and related to the "Custom range".
"moment": "^2.29.1",
"moment-timezone": "^0.5.32",
"ngx-daterangepicker-material": "^4.0.1",

[2021-03-05 18:10] sidrafarooq commented on #335
@manali-sankey can you please tell me how you modify the css ? as i am not able to do so. I want to right align the ranges menu and change the styling as well. Using angular 8

[2021-03-09 15:34] FedericoEcheverria commented on #141
Hello!
If use `this.myDate= { startDate: moment() } ` works to

[2021-03-11 14:21] misha130 commented on #349
Same for me. Doing exactly the same thing with the locale

[2021-03-15 16:08] telmaco commented on #362
I am looking for this as well. ❤

[2021-03-16 14:32] tarasmatsyuk commented on #362
I just hid right calendar
`.calendar.right {
  display: none !important;
}`

[2021-03-16 14:57] qwe12e commented on #362
yeah that came to my mind too but how are you gonna click the next month button?

[2021-03-16 18:06] tarasmatsyuk commented on #362
@qwe12e hmmm good point )
 but for my needs, 1 calendar is enough

[2021-03-16 19:03] tarasmatsyuk commented on #362
@qwe12e but it works the same for 1 calendar
![image](https://user-images.githubusercontent.com/12542304/111365295-ffd27400-869a-11eb-98fa-d64be019f925.png)
![image](https://user-images.githubusercontent.com/12542304/111365352-1082ea00-869b-11eb-81dd-073f40d3daeb.png)

[2021-03-17 09:27] qwe12e commented on #362
@tarasmatsyuk can you share your code? i guess the problem is my configs.

[2021-03-17 09:31] tarasmatsyuk commented on #362
@qwe12e
`<ngx-daterangepicker-material (choosedDate)="selectDate($event)"
                              [alwaysShowCalendars]="true"
                              #datePicker
                              [autoApply]="true">
</ngx-daterangepicker-material>`

[2021-03-19 06:27] qwe12e commented on #362
okey i found the problem. `linkedCalendars` property causes this problem. Everything works if I give a `false` value on mobile. Thank you @tarasmatsyuk.

[2021-03-19 06:27] #362 closed

[2021-03-19 08:42] gokulb1998 opened #365 "can't open mulitple datepickers using ngxdaterangepickerdirective"
Anybody give me a solution.it would be helpful. Thanks for advance

[2021-03-22 12:44] dentkachuk commented on #133
I think yes
And it will be great to have some diff class on these buttons

[2021-04-01 06:53] sanket-kumawat commented on #11
Hey, can you please tell me how can I do this in reactive form.

[2021-04-28 08:15] arunrajvvspn commented on #365
Is there a way to use multiple calendars in one single view/page using DaterangepickerDirective, when I tried same calendar is opening for all instances?

[2021-05-03 18:22] ArslanAmeer opened #369 "How to have Range selector with single calender"
Is there any possible way or configuration where we can select date range in a single calendar, I have tried with configuration, but I got a single calendar with a single date selector by only applying `singleDatePicker="true"`

[code]

Options:

[code]

[2021-05-03 19:02] ArslanAmeer commented on #365
Do you need to open all at once?

Because I am using multiple calenders in my single component. But different on differnet buttons.
Well to me there was not any issue.

[code]

[2021-05-04 03:00] apasanghamitrai commented on #228
I had the same issue when using Angular v5.2.0, where only  2.1.10 worked with the ng build --prod flag. While the latest 2.4.1 for Angular < 9.0.0 didn't work.

[2021-05-06 15:44] srinicoollife commented on #250
@tylertucker202 this solutions works for me too. thanks for sharing

[2021-05-07 14:21] fenta23 opened #372 "Not working with ViewEncapsulation.ShadowDom,"
**Versions**
* Angular version: ^11.2.6
* component version: "ngx-daterangepicker-material": "^4.0.1",

**Describe the bug**
If you use ViewEncapsulation.ShadowDom, the datepicker doesn't open

**To Reproduce**
Steps to reproduce the behavior:
Just add ShadowDom and see...
no open class will be rendered to the md-drppicker element

**Expected behavior**
should open

**Stackblitz link**
https://sta

[2021-05-07 16:31] xmatus32 commented on #195
Hello, Im not sure if this could be solution for this issue. I did it like u suggested but in my app constructor of this date picker is called twice what causes setting dateRangeFired to false twice (even in that case wheen I dont have that line in constructor). It means my application cannot reach in that if statement.

[2021-05-18 03:28] KanKai opened #375 "Angular 12 not working"
Property 'defaultColor' is missing in type 'NgxMatDatetimePicker<D>' but required in type 'CanColor'.

[2021-05-18 03:33] KanKai commented on #375
Spec:
@angular/material: "^12.0.0"
@angular/cdk: "^12.0.0"
ngx-daterangepicker-material: "^4.0.1"

[2021-05-24 13:17] ali-jalall commented on #369
Hello @ArslanAmeer today i was facing the same problem and here's what i did to fix this problem
P.S: it's not the best solution but it should do the trick

First you add your input like this with [singleDatePicker]="false"

`
<input
        type="text"
        matInput
        ngxDaterangepickerMd
        startKey="start"
        endKey="end"
        [(ngModel)]="selected"
        [singleDatePick

[2021-05-24 19:57] ArslanAmeer commented on #369
@ali-jalall  Hmmm.. i will look into it and update it if it works for me.

[2021-05-28 11:29] gsuman commented on #375
when will be released to support angular 12?

[2021-06-01 18:01] blockerdude commented on #273
https://github.com/fetrarij/ngx-daterangepicker-material/issues/273#issuecomment-621362485

For those wondering this still works in version 3.0.4, but doesn't appear to be supported by any versions past that.

[2021-06-04 06:11] PrashanthkumarR opened #378 "show-week-number showing wrong week numbers"
correct week numbers:
![image](https://user-images.githubusercontent.com/40654868/120753884-7c058680-c529-11eb-9c38-4a44eb281279.png)

but ngx-daterangepicker-material showing below values :
![image](https://user-images.githubusercontent.com/40654868/120754032-b7a05080-c529-11eb-8f8e-2d73cff4eb94.png)

[2021-06-08 13:54] Surajit229 commented on #103
Anyone can try that:

<input type="text"
  ngxDaterangepickerMd
  [singleDatePicker]="true"
  [autoApply]="true"
  [showDropdowns]="true"
  [locale]="{format: 'DD-MMM-YYYY'}"/>

[2021-06-11 14:31] irinavasilescu opened #379 "I can't use custom ranges with an INLINE daterangepicker"
**Versions**
* Angular version: 11
* component version: 4

**Description**
What I'm doing:
`ranges: any = {
        'Today':        [moment(), moment()],
        'Yesterday':    [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days':  [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month':   [mo

[2021-06-11 14:44] fetrarij commented on #375
Hello , v5 is out and works with angular 12.

[2021-06-11 15:00] jerone commented on #375
Great news!

Are there any breaking changes?

Would be nice to have some changelog. I checked the
* [releases](https://github.com/fetrarij/ngx-daterangepicker-material/releases) page.
* [changelog](https://github.com/fetrarij/ngx-daterangepicker-material/blob/HEAD/CHANGELOG.md) file.
* [readme](https://github.com/fetrarij/ngx-daterangepicker-material#versions).

[2021-06-11 18:43] fetrarij commented on #336
Hello, moment is replaced by dayjs in this component.
Use the latest version.

Thanks

[2021-06-11 18:43] #336 closed

[2021-06-11 18:46] fetrarij commented on #308
Hi, just to let you all know that v5 is out and momentjs is replaced with dayjs

[2021-06-11 18:47] fetrarij commented on #234
Hello, v5 is out and finally momentjs is replaced with dayjs.

[2021-06-11 18:47] #234 closed

[2021-06-11 19:09] veerritu commented on #308
That's great 😀.

I will update soon.

Regards,
Rituja

On Sat, 12 Jun, 2021, 12:16 am Fetrarijaona R., ***@***.***>
wrote:

[2021-06-14 07:04] fetrarij commented on #375
@jerone sure

[2021-06-14 18:53] bhushangahire commented on #266
Anyone got it working to bring it in front of the dialog?

[2021-06-18 07:34] dongloc94 opened #381 "Select month or year not work"
**Versions**
* Angular version: 12
* component version: v5.0.0

**Describe the bug**
When I use the showdropdowns flag is true, clicking select the month or day it doesn't change the bottom calendar box

[2021-06-24 08:37] MuhammadRehanQadri opened #382 "To what level can we customize it?"
<img width="389" alt="Screenshot 2021-06-24 at 1 33 35 PM" src="https://user-images.githubusercontent.com/59171035/123230966-310bdd00-d4f1-11eb-9ee8-bea11228d58f.png">

Can we customize the content of the input field to look like this?
Can we customize the dropdowns to look like this?
Can we use a component like the last menu-item like this?

Any help will be greatly appreciated.

Thanks!

[2021-06-25 08:26] bendzinks commented on #381
Hello. `monthOrYearChanged` must be changed like this
`if (isLeft) {
        this.leftCalendar.month = this.leftCalendar.month.month(month).year(year);
        if (this.linkedCalendars) {
            this.rightCalendar.month = this.leftCalendar.month.add(1, 'month');
        }
    }
    else {
        this.rightCalendar.month = this.rightCalendar.month.month(month).year(year);
        if (this.lin

[2021-06-25 13:48] michaelferwer commented on #381
I have open a PR for that : https://github.com/fetrarij/ngx-daterangepicker-material/pull/383

[2021-06-28 11:15] coolrb commented on #314
I now exactly have same problem when upgraded to Angular 9. I thought this is an issue with moment.js so raised an issue there https://github.com/moment/moment/issues
But I found this issue. What should I do now to resolve. Its almost an week since we last deployed our production. We are not contemplating to revert back to angular 8. But this is not the solution. Any help would really be appreciat

[2021-06-28 11:16] coolrb opened #384 "Ng build with --aot and --prod generates error - qu.weekdaysMin is not a function (Angular 9)"
Describe the bug
We recently upgraded angular to verion 9.
Angular CLI: 9.1.15
Node: 12.22.1
OS: darwin x64
Angular: 9.1.13
The moment js version is 2.29.1
After deploying the app, we are getting error
`Uncaught TypeError: qu.weekdaysMin is not a function`
But this is not generated in dev environment. Only in minimized prod environment, it gives error. We are struggling from last 2 days.
The probl

[2021-06-28 14:58] johnson512n28 opened #385 "Using Ranges Causes "opens" Parameter UI Glitch"
**Versions**
* Angular version: 9
* component version: 2.4.1

**Describe the bug**
When providing custom date ranges and a value for opens other than 'right,' the picker opens to the right until the user clicks the input field again.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure component with multiple custom ranges.
2. Set 'opens' parameter to "left."
3. Click control to view ra

[2021-06-28 16:20] apangr commented on #384
it happens the same to me. Help!

[2021-06-28 18:47] coolrb commented on #384
Downgraded to
`"ngx-daterangepicker-material": "^4.0.1",`
That solved the problem. The environment
[code]

[2021-06-28 18:47] #384 closed

[2021-07-07 14:56] kamcknig opened #386 "Exception thrown from date range picker directive when clicking on SVG target"
**Versions**
* Angular version: 10
* component version: 3

**Describe the bug**
An exception is thrown in the date range picker directive on the click host listener. When checking for "className", it's possible that property is an "SVGAnimatedString" which does not have an "indexOf" method.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a date range picker to your application
2. Add an

[2021-07-07 18:01] gcherem opened #387 "Ranges are not updated"
**Versions**
* Angular version: 11
* component version: 4.0.1

**Describe the bug**
Ranges labels are not updated after changing in ```ranges``` array.

**To Reproduce**
Steps to reproduce the behavior:

I have the component declared like this in a reactive form:
[code]

Since the user can change the language (i18n) on the fly, I recalculate the ```ranges``` array with the new labels, but the comp

[2021-07-08 17:33] gcherem commented on #387
Worked after update for v5

[2021-07-08 17:33] #387 closed

[2021-07-08 17:56] gcherem opened #388 "Range label on input is not updated dynamically"
**Versions**
* Angular version: 11
* component version: 5.0.0

**Describe the bug**
Although the calendar labels are correctly updated, the range label on input control (```showRangeLabelOnInput``` option) is not updated after changing the ```ranges``` array.

**To Reproduce**
Steps to reproduce the behavior:

I have the component declared like this in a reactive form:
[code]

Since the user may c

[2021-07-13 13:09] fetrarij commented on #381
Hello, sorry for the late response. I have just merged it and will release.

[2021-07-13 13:09] #381 closed

[2021-07-15 13:57] paolo-ciucci opened #389 "displayed date doesn't change when input changes"
**Versions**
* Angular version: 12
* component version: 5.0.1

**Describe the bug**
if a custom format it's selected, the datepicker is not updating the displayed dates when they get changed by typing in the input field.

**To Reproduce**
Apply a custom format to the datepicker:
`NgxDaterangepickerMd.forRoot({
  ...,
      format: 'DD/MM/YYYY'
    })`

once the datepicker is open, change the input

[2021-07-19 06:00] mianghuei opened #391 "Encounter error "ERROR Error: Uncaught (in promise): TypeError: pl.weekdaysMin is not a function TypeError: pl.weekdaysMin is not a function"."
**Versions**
* Angular version: 9.1.5
* component version: 5.0.1

**Describe the bug**
1) Import ngx-daterangepicker-material into app.module.
2) Build Angular application in prod mode.
3) Load website.
4) Encounter error "ERROR Error: Uncaught (in promise): TypeError: pl.weekdaysMin is not a function
TypeError: pl.weekdaysMin is not a function".

**To Reproduce**
Steps to reproduce the behavior:

[2021-07-26 08:17] caohothang commented on #286
same it still not fix ?

[2021-07-26 08:18] caohothang commented on #286
My solution is
 this.date.isHide = true;
    setTimeout(()=> {
      this.date.isHide = false;
    },100);

    we can hide and show input in timeout, it will effect

[2021-07-28 12:36] caohothang commented on #391
hello can you fix this bug ?

[2021-07-28 13:36] caohothang commented on #314
anyone have idea to fix it ?

[2021-08-06 08:12] dopoto commented on #391
@mianghuei Could it be because you're trying to pass MomentJS-format dates to it, and it now expects dayjs-format dates?

[2021-08-11 14:17] lluisnieto commented on #391
Exact same issue here. For some reason dayjs is not getting loaded when the Angular app is bundled with --prod flag.

[2021-08-15 04:05] nikhilgrag commented on #391
Facing the same issue.
Angular 10.
component version: 5.0.1
`st.weekdaysMin is not a function`

[2021-08-17 09:02] msoex commented on #391
Having the same issue
Angular 9
component version 5.0.0

[2021-08-17 11:16] dopoto commented on #391
A workaround for now is to set showWeekNumbers and showISOWeekNumbers to false:

[code]

[2021-08-20 17:00] blockerdude commented on #335
You might need to use ng-deep to get access in your css file.

[2021-08-20 17:13] sidrafarooq commented on #335
@blockerdude i was able to solve the issue by using ng-deep

[2021-08-23 03:09] briancaldass opened #392 "MinDate, MaxDate don't work correctly"
**Versions**
* Angular version: 7
* component version:

**Describe the bug**
I got a message when try to add minDate
![image](https://user-images.githubusercontent.com/16884130/130384280-cc5e1187-ed70-4f05-b831-852b5d9abbad.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descr

[2021-08-31 04:20] ashishCheriyath opened #393 "Is there any way to select years prior to 1971 , not able to select dates in the year 1971"
**Versions**
* Angular version: 12.0.0
* component version:5.0.1

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to

[2021-09-08 14:41] brinehart commented on #71
@rvoltolini It looks like you have a fork that has the fixes in it you talked about above. Do you need any help finalizing your changes and opening a PR?

[2021-09-09 12:30] Sakshi-Bhargava opened #394 "startDate is resetting to current date if minDate is used"
**Versions**
* Angular version: 7.x.x
* component version: 2.4.1

**Describe the bug**
If minDate is larger then the preselected startDate then startDate automatically sets to current time range and user is not able to see the preselected time range.
Is there any way I can stop this behaviour?

**To Reproduce**
Steps to reproduce the behaviour:
1. Set minDate to today and maxDate to next month
2.

[2021-09-20 05:51] karnan131k commented on #136
Hi fetrariji
any update about opening calendar up and down should be dynamic when scroll

[2021-09-23 05:23] satishbandre62 commented on #324
Hello @ankushg91 and @RupinSahu even I am looking for same functionality. Please comment if any of you found solution on this feature. Thanks.

[2021-10-08 07:23] sc-varraj opened #395 "How to open two calender when singleDatePicker is true"
Hello,

Am not able to open two calender when we put  [singleDatePicker]=true,
 if we use  [singleDatePicker]=false and only want to select single date and keet start and end date equal , they still wants to select range. Am doing start and end date equal by taking there object value ;
datePicker: DaterangepickerComponent;
this.datePicker.endDate = this.datePicker.startDate;

[2021-10-11 03:10] briancaldass opened #396 "I can't access to component properties using isinvalidDate"
**Versions**
* Angular version:  6
* component version:

**Describe the bug**
When try to access to the component  properties using isInvalidDate I receive undefined
![image](https://user-images.githubusercontent.com/16884130/136728011-e80dd075-af22-4084-9e2e-4aa715bccbae.png)

In the browser console:
![image](https://user-images.githubusercontent.com/16884130/136728055-ca8a2ccc-d876-44c6-a807-deb

[2021-10-13 13:44] ravikandpal31 opened #397 "pass time zone dynamically in component"
I am facing issue related to timezone handling in this component. Is there any options available to pass timezone to the component. Or is there any other way to display selected date in a particular timezone.

[2021-10-25 09:19] craggrid opened #398 "ngx-daterangepicker-material show previous and current month instead of current and next month"
**2.4.2**
* Angular version: 6

Hi @fetrarij,
     we are using ngx-daterangepicker with max date limitation as current date. So we want to show previous month and current month instead of current month and next month
     Please help us to get fix

[2021-10-26 01:34] craggrid opened #399 "Disable apply button - when datepicker opened"
**2.4.2**
* Angular version: 6.0
* component version:
Hi @fetrarij,
1. Disable Okay/apply button when date picker opened. Until user selects any date. It should be in disabled state.
2. When user selects date and close it without apply. Next time when user opened, it should not get selected
Please help us to make this happen.

[2021-10-27 06:26] craggrid opened #400 "SingleDatePicker Default date not getting selected"
**2.0.2**
* Angular version: 6
* component version:

Hi @fetrarij
Single Date Picker default value not getting binded. When ever user opens, current date getting selected instead of user saved value
Please help us to resolve

[2021-10-27 15:35] manwithtwowatches opened #401 "TypeError when setting showWeekNumbers = true"
* Angular version: 11.0.5
* component version: 5.0.1

**Describe the bug**
When setting the week numbers flag I get the following error

[code]

**To Reproduce**
Steps to reproduce the behavior:
Make an angular project and use the code copy pasted from the examples page. Any picker with showWeekNumbers = true seems to result in this.

[2021-10-28 15:18] manwithtwowatches opened #402 "Error in local dev: "This likely means that the library which declares NgxDaterangepickerMd has not been processed correctly by ngcc...""
**Versions**
* Angular version: 11
* component version: 5.0.1

**Describe the bug**
I am trying to use a local version of the package. Having npm installed and built ngx-daterangepicker-material, and then included in a fresh angular project package.json with

`"ngx-daterangepicker-material": "file:../ngx-daterangepicker-material"`

and included it in app.module with

`import { NgxDaterangepickerMd

[2021-10-29 14:33] ruiengana opened #403 "npm outdated shows 2.4.2 is latest version available"
$ npm outdated
Package                       Current  Wanted  Latest  Location                                   Depended by
ngx-daterangepicker-material    5.0.1   5.0.1   2.4.2  node_modules/ngx-daterangepicker-material  <redacted>

[2021-11-03 06:52] fetrarij commented on #401
@manwithtwowatches Hi, I guess this is solved by your PR? Thank you very much :)

[2021-11-03 06:52] #401 closed

[2021-11-04 21:04] manwithtwowatches opened #405 "dayjs.extend(localeData) gets optimised out in Angular build --prod causing error "TypeError: ae.weekdaysMin is not a function""
**Versions**
* Angular version: 11.0.5
* component version: 5.0.1

**Describe the bug**
It seems that when building and Angular 11 project for production with "ng build --prod" there are certain parts of the code that get optimised out, causing errors. Specifically line 5 of daterangepicker.config.ts "dayjs.extend(localeData)" seems to be gone, causing an error on line 38 "daysOfWeek: dayjs.weekda

[2021-11-05 14:18] Trildar opened #406 "Object output event types cause issues with strict template checking"
The `Object` type is not assignable to most types, including object literal types, and also does not provide any useful interface for  consuming the data outputted. As such, binding to the output events currently requires type casting in order to read the data from the event. It would actually be better to use the `any` type, but ideally the types would be set to match the actual data outputted.

[2021-11-08 13:45] manwithtwowatches commented on #405
This was fixed by creating a fresh Angular 11 project with all the latest packages (11.2.14/15).

[2021-11-08 13:45] #405 closed

[2021-11-09 11:42] pranayat commented on #379
Seems to be an issue. Did you end up solving this?

[2021-11-16 06:37] sameerkattel opened #407 "Right Calendar view is not updated when custom date range from date is set to future date"
**Versions**
https://fetrarij.github.io/ngx-daterangepicker-material/simple

**Describe the bug**
Right Calendar view is not updated when custom date range from date is set to future date

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['https://fetrarij.github.io/ngx-daterangepicker-material/simple'](https://fetrarij.github.io/ngx-daterangepicker-material/simple)
2.  In Simple dateran

[2021-11-18 15:24] roxheifraholli1 commented on #112
custom range is not working when a date is selected

[2021-11-19 14:31] sameerkattel opened #408 "Dedicated from and to calendar"
When there are two calendars, It would be great if there is an option to configure left calendar exclusively for from date selection and right calendar exclusively for to date selection only

[2021-12-28 07:50] jeevad opened #409 "maxSpan option not working"
**Versions**
* Angular version:
* component version:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain

[2021-12-29 06:08] Kushal-MP08 commented on #304
@kavvya97  thanks works fine for me !!!!

[2021-12-29 08:31] dannyfwbb opened #410 "Can't choose custom range when selected 1971 and 2026 years"
![image](https://user-images.githubusercontent.com/21379655/147642393-d4b5d372-9c1c-44bd-a018-236f0cfb6299.png)

If select 1971 and 2026 years custom range becomes unselectable

[2022-01-03 11:43] dominik-mrugalski commented on #337
I see it's a really old bug, but still active... I used "ngx-daterangepicker-material": "^5" and I had this problem, but in different project I use "ngx-daterangepicker-material": "^4.0.1" and everything work OK. So I downgraded lib to this version and I work (even with Angular 12). But it's not perfect solution, it's only workaround.

[2022-01-11 08:41] galuwka opened #411 "maxDate input causes incorect year in month label"
**Versions**
* Angular version: 8.2.14
* component version: 4.0.1

**Describe the bug**
If maxDate was set to current day and user clicks on current day/current week range filter then incorrect year appears in month label.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to datepicker
2. Click on 'Current day'/'Curret weeek' range filter
3. See incorrect year in month label

**Expected beh

[2022-01-11 10:22] artem-palamarchuk96 commented on #410
same issue for me, when try to choose 1971 year, error in console fires
![image](https://user-images.githubusercontent.com/15331840/148925132-710afbc8-a257-408b-8eef-07b93903a5dd.png)

[2022-01-13 10:25] RohanAntony opened #412 "Use month names from locale.monthNames instead of default names in input."
**Describe the bug**
Use the month names from 'locale.monthNames' instead of default monthNames.

**To Reproduce**
Steps to reproduce the behavior:
1. Set locale to french or any other language.
2. Set monthNames while passing locale to custom values like ['Jane', 'Feee', 'Maaa']

![image](https://user-images.githubusercontent.com/5779016/149312297-6c631848-0ea5-4017-9749-4288e34d5c9e.png)

**Expe

[2022-01-20 07:58] ankurgupta12 opened #414 "DateRangePicker dropdown issue"
**Versions**
* Angular version:  10.2.0
* component version:

**Describe the bug**
when we set the date Limit  property in dateRange picker , after selecting the date from left view calendar,  after that we are  not able to select the year from dropdown in right view calendar.  We have set the dateLimit property to 1094.

**To Reproduce**
Steps to reproduce the behavior:
1.  Select the year from d

[2022-01-20 15:46] bmukesh21 opened #415 "How to customize ranges as buttons below the calendar"
**Versions**
* Angular version: 7
* date range picker component version:2.1.9

**Describe the bug**
how to customize ranges as buttons below the calendar instead of side of calendar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  rangepicker with ranges
2. Click on  dropdown or icon
3. you should be able to see ranges side of calnedar

**Expected behavior**
should see the ranges as be

[2022-01-21 11:04] GovindaPedhiwal opened #416 "When we click on Last 7 days or Last 14 days etc the days in the calendar are not highlighted."
Hi Team,

Actually I am working in project and using ngx-daterangepicker-material 2.4.2. so we can select dates and we have some options as well for example "Last 7 days", "Last 14 days" etc.

So the issue is in the latest version whenever we click on "Last 7 days" or "Last 14 days" so the dates in the calendar are not highlighted. The classes are not added in dates.

It was working fine in previo

[2022-01-31 10:40] fetrarij commented on #414
Hello, with your stackblitz, I still could select the year in right after following your step.

[2022-01-31 17:11] mahmoudgamie opened #417 "Am I able to insert a custom html into the calendar view"
I have a custom calendar view that I would like to implement, like for example insert an input "from" and "to" fields above the calendar table , is that achievable ?

[2022-02-01 08:26] andreiTuduce commented on #408
Any news for the above idea, it would be great to have it

[2022-02-07 19:07] edjm1971 commented on #136
Will this be implemented and if so what is the anticipated release date?

[2022-02-09 16:12] jmtt89 opened #418 "Please publish the package with Ivy Distribution"
**Versions**
* Angular version: 13.2.0
* component version: 5.0.1

**Describe the bug**
After upgrade to Angular 13, Ivy distribution is norm, and View Engine is now legacy.
When built it shows a message

[code]

**To Reproduce**
Steps to reproduce the behavior:
Build any Angular v13 Project with ngx-daterangepicker-material

[2022-02-09 18:59] GovindaPedhiwal commented on #416
You commited but changes not coming in package.

[2022-02-11 10:59] usubhu opened #421 "How to open ngx-daterangepicker-material outside button/icon if multiple date range picker is available in same form"
**Describe the bug**
I want to open my ngx-daterangepicker-material by clicking out side of any button/icon. i know ngx-daterangepicker-material provide the facility by using

@ViewChild(DaterangepickerDirective, { static: false }) pickerDirective: DaterangepickerDirective.
....
openDatepicker() {

    this.pickerDirective.open();
  }
But my problem is not resolved with above code as I have a mult

[2022-02-13 23:01] arsolvit commented on #401
Hi @fetrarij! Will this PR be released in npm soon? This issue is so critical for us. Thanks!

[2022-02-14 21:38] umangchadha commented on #402
Hi facing same issue when i am trying to run my code on stackblitz. any luck?

[2022-02-17 18:16] tosipaulo opened #424 "How select old date using range calendar"
Hello, Team! What's up? Is there a method that I can select dates older than the first click on the calendar? Today's behavior is always to select future dates on the first click

[ how I want to configure ]
![mouseflow](https://user-images.githubusercontent.com/6425342/154544619-938c2f5d-71f9-4e3b-9698-5164947c096f.gif)

[ how is today ]
I need to give 3 clicks =/
![daterange-material](https://us

[2022-03-01 14:25] chetanshetty-gep commented on #333
@fetrarij - we face a similar issue in our app as well. Is there a workaround for this?

[2022-03-07 18:30] CPranay36 opened #428 "How to open picker conditionally"
**Describe the bug**
Want to disable or enable the picker conditionally

[2022-03-15 14:47] manikantasanthoshkuchimanchi opened #429 "Daterangepicker flickering on page load for angular applications"
Hello Team,

We notice that Daterange picker control is flickering on page load for Angular applications. Flickering is being observed in the following scenarios for various browsers.

We are button click approach to open DateRange Picker

`<button class="btn btn-primary ngx-daterangepicker-action" (click)="showDRControl()">
            <i class="fas fa-calendar-alt ngx-daterangepicker-action" ></

[2022-03-28 12:17] GSAIPAVANKUMAR commented on #123
Solution is not working

[2022-04-04 09:22] technbuzz commented on #418
Yeah, this is so annoying

[2022-04-11 09:41] webgunti05 opened #432 "How to disable apply and Reset buttons"
Hi, could please provide me the fix to disable / Enable the apply and Reset buttons  until we select both start and end dates vice versa ?

[2022-04-11 18:20] RakeshReddy1008 opened #433 "How to include time-zone selection, new dropdown allowing user to select the desired timezone(feature)"
**Versions**
* Angular version:
* component version:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain

[2022-04-20 06:04] sanjeevkumar-ditstek opened #435 "This Week Option is Selecting Today in ranges options (Happens Only on Monday)"
**Versions**
* Angular version: **11.2..12**
* component version: **2.4.2**

**Describe the bug**
I have a custom range option as
`this.ranges = {
    "Today": [moment().set({ hours: 0, minutes: 0 }), moment().set({ minutes: 0 })],
    "This Week": [moment().startOf('isoWeek'), moment().set({ minutes: 0 })],
}`

So on monday when i select This Week Option it shows Today as selected

**To Reproduce

[2022-04-25 10:33] phuochau commented on #361
same question here, looking forward to have a way to customize

[2022-04-26 12:33] ravi-pandit-dits14 commented on #123
@fetrarij compile time error
`Property 'setEndDate' does not exist on type 'DaterangepickerDirective'`

[2022-04-28 11:03] mathurpranjal01 commented on #115
Hi @fetrarij , I used ngx daterangepicker (dual calender) .. I am able to fetch current date and time but it fails if I keep my app stable for say one hour and choose "last 12 hours" . it will calculate hours from one hour back, and not the current local time unless I refresh it ! any solution ?

[2022-04-30 04:45] umernaeem217 opened #439 "Feature Request to suppress events."
When using the directive of the date picker it invokes `ngOnChanges` and calls the clear method from the picker which in return emits three events. This is problematic when you have bonded the changed event with the API calls. We should have an option to suppress the events. @fetrarij need your approval to work on this.

[2022-05-06 19:05] Franccescalee commented on #112
Same issue here. rangeClicked doesn't fire when "Custom range" is clicked.

[2022-05-10 08:19] zhe1ka commented on #432
+1

[2022-05-13 07:08] fetrarij commented on #435
Hello @sanjeevkumar-ditstek ,

with your range ! today = 00:00am -> Now(0min)  / this week = monday00:00am -> now(0min)
and since today is monday, it means this  this week = today

the first label wich have your value is selected.

[2022-05-13 07:08] #435 closed

[2022-05-13 07:10] fetrarij commented on #433
which version?
Moment or dayjs?

[2022-05-25 14:05] ibrahimtpz commented on #290
Hi! How could you solve this problem ? I have same issue on calender.

[2022-05-31 06:43] YeomanWang commented on #416
This issue still exist in the latest version. Seems like this change are not merged. @fetrarij

[2022-06-02 23:13] Franccescalee commented on #9
I just checked the local in my browser and it is en-US but the datepicker is showing Wednesday as the first day of the week.

[2022-06-15 06:01] krechtern commented on #418
We also want to update to angular 13 and have these library as dependency. Would be cool if a new version would be published.

[2022-06-15 09:11] palakevdpl opened #449 "Integrate Hebrew calendar dates in the English calendar UI"
Hello @fetrarij
**Versions**
* Angular version: 8
* ngx-daterangepicker-material version:2.2.0

**Issue**
I want to **integrate the hebrew calendar dates with the English calendar** and display in the datepicker UI.
I have attached an image for reference.
Please let me know if this date integration in UI is possible

**Screenshots**
![image](https://user-images.githubusercontent.com/107543917/1737

[2022-06-17 08:36] RohanAntony opened #450 "Failure in changing datetime directly on input for Spanish and Portuguese languages."
**Versions**
* Angular version: 11.2.13
* component version: 5.0.2

**Describe the bug**
Changing the input field values directly in the input doesn't update the datetime picker component for certain languages.

**To Reproduce**
Steps to reproduce the behavior:
1. Change the default locale of the datetime picker to Spanish or Portugese.
2. Change the input datetime picker value directly in the inp

[2022-06-28 11:37] jovittomedeva opened #452 "End date is not automatically set to start date when only start date is selected"
The latest version of ngx-daterangepicker-material (>5.0.0) is not setting end date to start date when we select only start date and click apply.

But it was working in the previous versions like 4.0.0

[2022-07-04 02:47] anhtata opened #453 "Angular 14 : DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed."
**Versions** ngx-daterangepicker-material v 5.0.2
* Angular version: 14.0.4
* component version:

**Describe the bug**

Warning: Entry point 'ngx-daterangepicker-material' contains deep imports into 'D:/dd/ddadmintool/node_modules/dayjs/plugin/localeData', 'D:/dd/ddadmintool/node_modules/dayjs/plugin/localizedFormat', 'D:/dd/ddadmintool/node_modules/dayjs/plugin/isoWeek', 'D:/dd/ddadmintool/node_m

[2022-07-07 20:27] FirozESS opened #454 "Datepicker won't work if used in a custom component for Formly"
Hello,

Since I use formly for all my forms, my html looks condensed like this -

`<form [formGroup]="addReportFileForm" (ngSubmit)="onSubmit(model)">
              <formly-form [form]="addReportFileForm" [fields]="fields" [model]="model"></formly-form>
              <button id="save-report" type="submit" class="btn btn-primary">Save Report</button>
            </form>`

In my component file, I ad

[2022-07-09 06:43] karpenko-eugene commented on #452
Have the same problem

[2022-07-13 09:56] teoeugene opened #455 "All dates are disabled when startDate and endDate is used with isInvalidDate"
**Versions**
* Angular version: 12~
* component version: 4 and 5.

**Describe the bug**

Using `startDate` and `endDate` parameters together with `isInvalidDate` disables all dates.
In the same time `isCustomDate` failed to insert the custom CSS class.

**Expected behavior**

I have this inline datepicker with the following parameters (values changed for simplicity):

[code]

All dates are disable

[2022-07-18 00:57] Msamir22 commented on #410
@dannyfwbb how can I show the years selection with the custom range?

[2022-07-18 04:51] aj-hops opened #456 "Ng-popover close automatically when click date form date picker"
Using owl-date-time-calendar inside the ng-popover menu

when use multiple ng-popover menu in one screen, and use popover-trigger="'outsideClick'" & popover-trigger="focus"

when selecting a date from owl-date-time-calendar inside ng-popover, the date picker does not consume the click, and ng-popover close automatically behaves like a click outside of the ng-popover and closes the ng-popover.

Ang

[2022-07-18 13:05] paras-autviz commented on #82
thank you

[2022-07-26 07:45] joyetgeorge opened #458 "endDate is not automatically set to startDate if we didn't select an endDate"
**Versions**
* Angular version: 11.0.4
* component version: 5.0.1

**Describe the bug**
If we select a start date and not select an endDate the endDate becomes invalid date instead of setting the endDate as startDate

**Screenshots**
https://i.ibb.co/GkqBcrQ/Screenshot-2022-07-26-at-1-07-48-PM.png

Is there any way we can disable the apply button if only the start date is picked?

[2022-07-26 08:52] joyetgeorge commented on #432
+1

[2022-07-26 09:03] joyetgeorge commented on #133
+1

[2022-07-26 12:05] joyetgeorge commented on #452
+1

[2022-08-04 09:12] tejaspanchal17 opened #461 "Set time as start of the day when user select future date, currently it stay whatever you selected before."

[2022-08-04 12:19] nitishbhardwaj1111 commented on #398
use "rtl" in direction attributes in [locale config](https://github.com/fetrarij/ngx-daterangepicker-material#locale). You can set a [global locale config ](https://github.com/fetrarij/ngx-daterangepicker-material#global-locale)too

[2022-08-04 14:25] HaykAghababyan commented on #421
@ViewChild(DaterangepickerDirective, { static: false }) pickerDirective: DaterangepickerDirective;

  openDatepicker() {
    this.pickerDirective.open();
  }

   I tried this code, but didn't work

[2022-08-08 21:09] HaykAghababyan opened #462 "localization issue"
Hello, I use your date-pickery. The problem is that in my project I use 4 languages, and for that I have created its own local configs for each language, but in that config I use the following format
23 June 1994 and every time I change the language I pass the appropriate language config to your component but the format doesn't translate it shows the same again 23 June 1994: I looked at your code

[2022-08-17 15:19] lzhang0 opened #464 "show only first and last selected months in calendar"
Is there an option to show only first and last selected month in the calendar when we select a larger range of days?

For example, I have selected the last 90 days from the range selection, I want to see May on the left calendar and August on the right calendar not May and June the consecutive months.

Have tried [linkedCalendars]="false" and that will only show what I'm expecting when I click app

[2022-08-17 18:50] fetrarij commented on #464
hello @lzhang0 which version of the component do you use? agular version?

[2022-08-17 19:21] fetrarij commented on #462
Hello @HaykAghababyan could you open a pull request?
1. fork the repo
2. commit to your forked repo with your change
3. open the PR from your forked to the main branch
Thanks

[2022-08-17 19:26] fetrarij commented on #458
Hello @joyetgeorge

Could you give more info on step to reproduce?
which attributes to you use?

[2022-08-17 19:42] fetrarij commented on #454
hi  @FirozESS , did you imported it in app.module.ts?
if you could create a stackblitz this would be easy to follow.

Thanks

[2022-08-17 19:45] #418 closed

[2022-08-17 19:48] #464 closed

[2022-08-17 21:53] lzhang0 commented on #464
@fetrarij thanks for resolving this so quickly! We are using angular 11, will the fix be available for v5.x.x?

[2022-08-18 11:30] manwithtwowatches opened #466 "Picker div appears with the wrong "left" CSS property when the associated input is within an X scrollable parent div"
**Versions**
5.0.2

**Describe the bug**
If the associated input element is within a parent div which is scrollable in the x dimension, the "left" CSS property of the picker's main div does not compensate for the extra x pixels that may have been scrolled. The result is that the picker appears off to the right of the input, the distance which has been scrolled being added to the "left" property.

[2022-08-28 10:54] Fusionshh commented on #349
Same problem.
Still no decision?

[2022-08-30 19:10] solairaja84 commented on #113
When this feature will be available ?? for WCAG enabling in datepicker

[2022-08-31 04:46] emmy29 opened #470 "Selecting only start date set end date as invalid date"
**Versions**
* Angular version:  14.0.4
* component version: 5.0.2

**Describe the bug**
Selecting the start date and clicking the Apply button convert the dates after the start date into NaN. In month section also shows invalid date.

**To Reproduce**
Steps to reproduce the behavior:
1. Select the start date
2. Click on Apply button
3. On input end date will show as an invalid date and if you ope

[2022-08-31 09:25] Fusionshh commented on #349
because there is still no solution.
The solution for me was to fork the project and add the following condition to the method
[code]

I understand that the solution is not complex, but for lack of a better one ...

[2022-08-31 16:11] de87684333 opened #471 "get and set should work with the same type"
**Versions**
* Angular version:  14.2.0
* typescript:  4.7.4
* ngx-daterangepicker-material: 6.0.2

**Describe the bug**
Code is not compiling due to this error in daterangepicker.component.d.ts :
`The return type of a 'get' accessor must be assignable to its 'set' accessor type
Type 'null' is not assignable to type 'string | Dayjs'.`

The issue is valid for attributes maxDate and minDate

**To Re

[2022-09-01 14:11] de87684333 commented on #471
It's working with the version 5.0.2. The issue started after the rework of getters.

[2022-09-08 12:36] lorenzo0895 opened #472 "Library not working due to a dayjs problem."
**Versions**
* Angular version: 14.0.6
* component version: 6.0.2

**Describe the bug**
Ngx-daterangepicker-material is not working due to a dayjs problem.

**To Reproduce**
1. Start a new app
2. Navigate through your folder app
3. Install current version `npm i ngx-daterangepicker@6.0.2`
4. Inside app.module.ts
   * Import its module: `import { NgxDaterangepickerMd } from 'ngx-daterangepicker-mat

[2022-09-09 11:32] sai-gmbh commented on #471
<img width="490" alt="Screenshot 2022-09-09 at 13 29 55" src="https://user-images.githubusercontent.com/52069780/189340567-08f0a87a-f3da-4b74-9742-070cf180ae3f.png">

Do you have this issue in the pipeline?

[2022-09-16 12:58] AntonLukovtsev opened #474 "Custom rules of the week"
Hello! Does anyone know if it is possible to change the "CalendarWeekRule".
https://en.wikipedia.org/wiki/ISO_week_date.

I need to add 3 algorithms for the behavior of weeks for accountants.

Some brave people know how I can do this?)

Thx.

[2022-09-21 06:38] vishal-ebizz opened #475 "Selecting Reverse Date"
There is an option for select reverse date ( after selecting the end date we can not select the start date)
i.e [reversedate]="true"

[2022-09-21 08:36] Prudhvicharan opened #476 "ERROR in Error: Could not resolve moment/ts3.1-typings/moment from"
Angular version: 8.2.14
moment: 2.29.4
tslib: ^1.10.0
ngx-daterangepicker-material: ^2.2.0

**Describe the bug**
Hi, I am using Angular 8 version and when I try to upgrade moment package from 2.24.0 to 2.29.4 I am facing this issue.

**ERROR in Error: Could not resolve moment/ts3.1-typings/moment from .../node_modules/ngx-daterangepicker-material/ngx-daterangepicker-material.d.ts**

Can someone pl

[2022-09-29 15:40] quimack opened #478 "TypeError: Uf.weekdaysMin is not a function, after deploy"
Hi, i have problems in deploy with ngx-date-range-picker- material

part of my package.json:
dependencies:
"@angular/common": "~10.2.3",
"@angular/compiler": "~10.2.3",
"@angular/material": "^10.2.7",
"@ng-bootstrap/ng-bootstrap": "^8.0.0",

"ngx-daterangepicker-material": "^5.0.2",
"ngx-moment": "^5.0.0",
"dayjs": "^1.11.5",
"jquery": "^3.5.1",
"bootstrap": "^4.5.2",
devDependencies:
"@angular-de

[2022-09-29 15:43] quimack commented on #314
I have the same problem @fetrarij
https://github.com/fetrarij/ngx-daterangepicker-material/issues/478  --> Here more info

angular v10
ng build -c=development
gcloud app deploy -v 1

[2022-09-29 16:24] quimack commented on #478
Solved!!!
It was a incompatibility versions problem.
I changed to:
    "ngx-daterangepicker-material": "^4.0.1"
and uninstall "dayjs".
This work for me.

[2022-09-29 16:24] #478 closed

[2022-09-29 16:28] quimack commented on #314
I can fix it changing the ngx-daterangepicker-material version!
in my case i have Angular10 and the compatible version is 4.x.x
 my package.json:
   "ngx-daterangepicker-material": "^4.0.1",
   "ngx-moment": "^5.0.0",

and uninstall dayjs.

[2022-09-29 16:32] quimack commented on #314
pay attention to the versions
https://www.npmjs.com/package/ngx-daterangepicker-material

[2022-09-30 15:56] Rapiiidooo commented on #471
Having also this issue.

It should be the following :

[code]

[2022-10-03 09:34] ketanpanther commented on #141
Hello. @fetrarij
I have this problem in single Date not set.

[2022-10-03 15:48] jbocchi-bc opened #479 "I have an error when run my test with Jest"
**Versions**
* Angular version: 14
* component version: "ngx-daterangepicker-material": "^6.0.2",

**Describe the bug**
I use Nx, Angular and Jest and when I run my tests, I have this error:
![image](https://user-images.githubusercontent.com/91887602/193620744-e1a8c07a-f33d-4ec7-b803-85b0a19b8380.png)

I have written the jest.config.ts with `transformIgnorePatterns: ['node_modules/(?!.*((\\.mjs$))

[2022-10-06 14:34] Madbahaa commented on #472
Same issue still not fixed

[2022-10-11 00:44] adam-drozdz-ie commented on #472
Go to your tsconfig.json -> compilerOptions -> and set: `"allowSyntheticDefaultImports": true`.
It's a workaround, but it works.
I took it from here: https://github.com/fetrarij/ngx-daterangepicker-material/issues/336#issuecomment-743201841 so it seems it's been an issue for at least 2 years now...

[2022-10-11 04:09] techleaddev commented on #421
Hi there, you can use ref element to do it
Ex:
[code]

[code]

[2022-10-17 10:19] jerone opened #484 "Angular 14 support"
Please support Angular 14, as its out for [4+ months](https://blog.angular.io/angular-v14-is-now-available-391a6db736af) now.

[2022-10-18 09:26] gopal-augment opened #485 "End date is wrongly return on event"
**Versions**
* Angular version: 14
* component version: 6.0.4

**Describe the bug**
The end date is always the next day of what we selected in the date picker. This occurs in the demo site itself. Refer the screenshot.

**To Reproduce**
Refer the screenshot

**Expected behavior**
Should be the same date that we select in the date picket

**Screenshots**
![image](https://user-images.githubuserconte

[2022-10-18 10:55] gopal-augment commented on #485
is this because of
`if (!this.timePicker) {
            this.pickingDate = false;
            this.endDate = this.endDate.add(1, 'd').startOf('day').subtract(1, 'second');
 }`
in ngx-daterangepicker-material.mjs

[2022-10-18 16:54] gopal-augment opened #486 "Issue with End date and maxDate option"
**Versions**
* Angular version: 14.2
* component version: 6.0.4

**Describe the bug**
When I set the maxDate. If I select the end date of the max date, got the below error

**To Reproduce**
1. maxDate = dayjs().add(1, 'day'); // which will be date will enable up to current day + one day
2. Select the start date and, select the end date of the next day of the current date

**Screenshots**
![image](

[2022-10-19 14:42] Franccescalee commented on #485
@gopal-augment I just had a bug ticket assigned to me that sounds like the same issue.
We're using version 5.0.1, Angular 11

We have a preset for Month to Date, but if you select the 1st to yesterday it switches to Month to Date and pushes the end date out one day to today's date.

If I comment out the lines you have above the issue doesn't occur so it must be causing this issue as well.

I've be

[2022-10-21 07:25] LucasBrazi06 opened #487 "The date selected in the UI should be localized"
**Versions**
* Angular version: 14.2.7
* component version: 6.0.4

**Describe the bug**
The date selected in the UI (localized) should not be equals to the ISO date:
![image](https://user-images.githubusercontent.com/25266945/197136485-50bbc185-cd07-420f-85c3-0800ab98d5e0.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your demo site: https://fetrarij.github.io/ngx-daterangepicker

[2022-10-21 07:35] LucasBrazi06 commented on #487
I set the locale to 'fr' but the formatted date is still in 'en':
![image](https://user-images.githubusercontent.com/25266945/197138981-fa41668f-1bd0-42a1-9b3d-5f0a77da87ac.png)

[2022-10-24 10:40] kdsonit commented on #432
@webgunti05  try with this

`@ViewChild(DaterangepickerDirective, { static: false }) pickerDirective!: DaterangepickerDirective;`

[code]

[2022-11-16 15:40] Rapiiidooo commented on #273
As its been a long time, and not the prio, its maybe better to close this one for now.

Thanks to the dev team.

Feel free to reopen.

[2022-11-16 15:40] #273 closed

[2022-11-17 10:20] Rapiiidooo commented on #486
Actually +1.

I would like to add more detail: in general `Dayjs | date` type are not supported anymore in 6.0.4

Current workaround @gopal-augment is to use a string in [ISO](https://www.w3.org/QA/Tips/iso-date) format.

`as follows: YYYY-MM-DD`

[2022-11-17 10:21] Rapiiidooo commented on #453
Solved in >= 6.0.2

[2022-11-17 10:36] gopal-augment commented on #486
@Rapiiidooo
If I set ISO format, it throws an error because of type Dayjs

[2022-11-17 12:07] Rapiiidooo commented on #486
@gopal-augment use an any typed variable, error will dissapear ;)

[2022-11-21 10:17] jerone opened #491 "Angular 15 support"
Will this package support Angular 15.

[2022-11-21 10:24] jerone commented on #484
Closing because of #491

[2022-11-21 10:24] #484 closed

[2022-11-21 17:51] LorenVu opened #492 "Not import dayjs"
**Versions**
* Angular version:
* component version:

**Describe the bug**
I''m not import { Dayjs } from 'dayjs/esm';

**To Reproduce**
[code]

[2022-11-26 13:13] roma2341 opened #496 "Validation not work in reactive forms."
**Describe the bug**
Validation not work in reactive forms. I added required validtor to input, but no error appears when no date range is selected.

**Expected behavior**
When i add required validator to ngxDaterangepickerMd input it should be validated like other elements

[2022-11-26 19:47] roma2341 commented on #496
Oh sorry, i added custom validator function, checking startDate/endDate and it works fine. My fault